@{
    ViewBag.Title = "LogisticsTools";
    ViewBag.Sub = "AEOInfo";

    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Container {
    <div class="container">
        <div class="sub_visual">
            <div class="inner">
                <h4 class="subtitle">법령정보</h4>
            </div>
        </div>
        <div class="fixed_in type2 logistics">
            <div class="aeo_info">
                <table class="list_type1 tools">
                    <colgroup>
                        <col class="w4" />
                        <col class="w10" />
                        <col class="w11" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>법규명</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=165305#0000" target="_blank">관세법</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=168362#0000" target="_blank">관세법 시행령</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=169106#0000" target="_blank">관세법 시행규칙</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=150397#0000" target="_blank">대외무역법</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=164827#0000" target="_blank">대외무역법 시행령</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000019345" target="_blank">대외무역관리규정</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=132469#0000" target="_blank">외국환거래법</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=164724#0000" target="_blank">외국환거래법 시행령</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulInfoP.do?admRulSeq=2100000016827" target="_blank">외국환거래규정</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=162513#0000" target="_blank">물류정책기본법</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=150910#0000" target="_blank">물류정책기본법 시행령</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/lsInfoP.do?lsiSeq=158590#0000" target="_blank">물류정책기본법 시행규칙</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000004984" target="_blank">보세운송에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000007808" target="_blank">보세화물관리에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000004982" target="_blank">보세화물 입출항 하선 하기 및 적재에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000015609" target="_blank">수입통관 사무처리에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000012515" target="_blank">원산지제도 운영에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000008341" target="_blank">전략물자 수출입 통관에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000019567" target="_blank">종합인증 우수업체공인 및 관리업무에 관한 고시</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td class="left"><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000008338" target="_blank">화물운송주선업자의 등록 및 관리에 관한 고시</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}